.header {
  margin: 50;
}

.container {
  text-align: center;
  flex: 1;
}
.body {
  padding: 50;
  border: 1px solid black;
  width: 500;
}
ul li {
  text-align: left;
  font-weight: 100;
}
.title {
  font-weight: bold;
}
